#canvas {
  border-radius: 5px;
  height: 90%;
  width: 90%;
  margin-bottom: 50px;
  background: white;
  background-image: url('../src/assets/background.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top-nav{ 
  background-color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.box{
  display: flex;
  flex-direction: row;
}

h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  font-size: 40px;
  border: 1px solid blue;
  text-align: center;
}

h2{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  font-size: 24;
  border: 1px solid blue;
  text-align: center;
}


.header{
  border: 1px solid red;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#player {
  display: none;
}

#dragon {
  display: none;
}

#death-scythe{
  display: none;
}

#ifrit{
  display: none;
}



