@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './reset.scss';

#canvas {
  border-radius: 5px;
  height: 90%;
  width: 90%;
  margin-bottom: 50px;
  background-image: url('../src/assets/background.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top-nav{ 
  background-image: url('../src/assets/b2.png');
  background-color: #99CC99; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .links{
    justify-content: space-between;
    display:flex;
    flex-direction: row;

    .fab{
      font-size: 20px;
      cursor: pointer;
    }
  
    a:active{
      color: black;
    }
  
    a:focus{
      color: black;
    }
  
    a:hover{
      color: black;
    }
  
    a{
      color: black;
      margin-right: 15px;
      &:visited{
        color:black;
      }
    }
}

.instruction{
  margin-top: -30px;
}

.instructions{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  width: 90%;
  // height: 90%;
  justify-content: center; 
  align-items: center;
  display: none;

  p{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: white;
    text-align: center;

  }
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  }

  h1{
    color: #586b36;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }

  h2{
    color: black;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;

    &:visited{
      color: black;
    }

    &:hover{
      color: black;
    }

    &:active{
      color:black;
    }
  }
}

* {
  box-sizing: border-box;
}

#player {
  display: none;
}

#dragon {
  display: none;
}

#death-scythe{
  display: none;
}

#ifrit{
  display: none;
}




